{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

 {{> "hero-header"}}
{{#author}}
    <main class="author"> 
        <div class="author-title">
            {{#if profile_image}}
                <img class="author-profile-image" src="{{img_url profile_image size="s"}}" alt="{{name}}">
            {{/if}}
            <h1 class="author-name">
                {{name}}
            </h1>
        </div>
        {{#if bio}}
            <p class="author-bio">{{bio}}</p>
        {{/if}}
        <div class="author-links" >
            {{#if location}}
            <div class="author-location" >
                <div class="icon-button location"> {{> "icons/location"}} </div>
                <div class="author-location" >{{location}} </div>
            </div>  
            {{/if}}
            {{#if website}}
            <div class="author-website" >
                <div class="icon-button website"> {{> "icons/website"}} </div>
                <a class="author-website-url" href="{{website}}" target="_blank" rel="noopener">{{website}} </a>
            </div>
            {{/if}}
            {{#if facebook}}
            <div class="author-facebook">
                <div class="icon-button facebook"> {{> "icons/facebook"}} </div>
                <a class="author-facebook-url" href="{{facebook_url}}" target="_blank" rel="noopener">{{facebook}} </a>
            </div>
            {{/if}}
            {{#if twitter}}
            <div class="author-twitter">
                <div class="icon-button twitter"> {{> "icons/twitter"}} </div>
                <a class="author-twitter-url" href="{{twitter_url}}" target="_blank" rel="noopener">{{twitter}} </a>
            </div>
            {{/if}}
        </div>
    </main>
{{/author}}
