{{!--article summary (thumbnail, tile and excerpt --}}
<article class="article-card {{post_class}} aria-label={{title}}">
    {{#if feature_image}}
        <a class="article-card-image" href="{{url}} ">
            <img
                srcset="{{> "srcset"}}"
                sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                src="{{img_url feature_image size="m"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            >
        </a>
    {{/if}}
    <a class="article-card-text" href="{{url}}">
        <h2 class="article-card-title">{{title}}</h2>
        {{#if excerpt}}
                <div class="article-card-excerpt long" >{{excerpt words="55"}}...</div>
                <div class="article-card-excerpt short">{{excerpt words="20"}}...</div>
        {{/if}}
    </a>
    <div class="article-card-metadata" >
        {{#if primary_tag}}
            <a class="article-card-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
        {{/if}}
        <time class="article-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD-MMM"}}</time>
    </div>

</article>
