
{{!-- 
    article summary : thumbnail, tile and excerpt 
    Params: image_size [ xs | s | m | l | xl  ] optional featued image sizes property
--}}
<article class="article-card" aria-label="{{title}}">
    {{#if feature_image}}
        <a class="article-card-image" href="{{url}} ">
            {{#match image_size "xs"}}
                {{> "feature_image" image_size="xs"}}
            {{else match image_size "s"}}
                {{> "feature_image" image_size="s"}}
            {{else match image_size "m"}}
                {{> "feature_image" image_size="m"}}
            {{else match image_size "l"}}
                {{> "feature_image" image_size="l"}}
            {{else match image_size "xl"}}
               {{> "feature_image" image_size="xl"}}
            {{else}}
               {{> "feature_image"}}
            {{/match}}
        </a>
    {{/if}}
    <h1 class="article-card-title"><a href="{{url}}">{{title}}</a></h1>
    {{#if excerpt}}
        <p class="article-card-excerpt long"><a href="{{url}}">{{excerpt words="55"}}...</a></p>
        <p class="article-card-excerpt short"><a href="{{url}}">{{excerpt words="15"}}...</a></p>
    {{/if}}
    {{#if @custom.show_author}}
        <ol class="article-card-author-list">
            {{#foreach authors}}
                <li class="author-name">
                    {{#if @first}}
                        <a href="{{url}}">{{name}}</a>
                    {{else}}
                        <span>,</span> 
                        <a href="{{url}}">{{name}}</a>
                    {{/if}}
                </li>
            {{/foreach}}
        </ol>
    {{/if}}
    <div class="article-card-metadata" >
        {{#if @custom.show_dates_on_article_cards}}
            <time class="article-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD-MMM-YYYY"}}</time>
        {{/if}}
        {{#if primary_tag}}
            {{#if primary_tag.accent_color}}
                <a class="article-card-tag" href="{{primary_tag.url}}" style="border: 1px solid {{ primary_tag.accent_color }}">{{primary_tag.name}}</a>
            {{else}}
                <a class="article-card-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}
        {{/if}}
        {{#unless access}}
            {{^has visibility="public"}}
                <a class="article-card-restricted-access icon" href="{{url}}">
                    {{> "icons/lock"}}
                    {{tiers}}
                </a>
            {{/has}}
        {{/unless}}
    </div>

</article>
