{{!--article summary (thumbnail, tile and excerpt --}}
<article class="article-card aria-label={{title}}">
    {{#if feature_image}}
        <a class="article-card-image" href="{{url}} ">
            <figure>
                <img
                    srcset="{{> "srcset"}}"
                    sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    loading="lazy"
                >
            </figure>
        </a>
    {{/if}}
    <h1 class="article-card-title"><a href="{{url}}">{{title}}</a></h1>
    {{#if excerpt}}
        <p class="article-card-excerpt long"><a href="{{url}}">{{excerpt words="55"}}...</a></p>
        <p class="article-card-excerpt short"><a href="{{url}}">{{excerpt words="20"}}...</a></p>
    {{/if}}
    {{#if @custom.show_author}}
       <a class="article-card-author" href="{{primary_author.url}}">{{primary_author.name}}</a>
    {{/if}}
    <div class="article-card-metadata" >
        <time class="article-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD-MMM"}}</time>
        {{#if primary_tag}}
            {{#if primary_tag.accent_color}}
                <a class="article-card-tag" href="{{primary_tag.url}}" style="border: 1px solid {{ primary_tag.accent_color }}">{{primary_tag.name}}</a>
            {{else}}
                <a class="article-card-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}
        {{/if}}
    </div>

</article>
