{{!-- markup for the table of contents and social link icons (used by both pages and posts) --}}    

{{!-- The TOC will be inserted here --}}
<aside class="table-of-contents">
    <div class="toc"></div>
    <button id="toc-toggle" progress="0" aria-label="table-of-contents-mode" class="icon-button">
        <span class="toc-open-icon ">{{> "icons/toc-open"}}</span>
        <span class="toc-close-icon">{{> "icons/toc-close"}}</span>
    </button>
</aside> 

{{!-- share buttons inserted here --}}
<aside class="social-links">
    <h1 class="social-links-title">Share</h1>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
    class="social-link-icon" aria-label="share on facebook" target="_blank" rel="noopener" >
        {{> "icons/facebook"}}
    </a>
    <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}"
        class="social-link-icon" aria-label="share on twitter" target="_blank" rel="noopener" aria-label="Twitter">
        {{> "icons/twitter"}}
    </a>
    <a href="whatsapp://send?text={{url absolute=" true"}}" 
        class="social-link-icon" aria-label="share on whatsapp" target="_blank" rel="noopener" aria-label="whatsapp">
        {{> "icons/whatsapp"}}
    </a>
     <a href="{{@site.url}}/rss"
        class="social-link-icon" aria-label="rss fee " target="_blank" rel="noopener" aria-label="rss">
        {{> "icons/rss"}}
    </a>
    {{!-- cf copy-link.js --}}
    <a class="social-link-icon social-link-icon-copy" arial-label="copy link" target="_blank">
        {{> "icons/link"}}
    </a>
</aside>
