{{!-- markup for the table of contents and sidebar nav
Parameters:
    layout: [ sidebar-layout , footer-layout] todo
    aside-type: [ toc , sidebar, etc ]
--}}    

{{#match aside-type "toc"}}
    <aside class="table-of-contents {{layout}}">
        <button id="toc-toggle" data-progress="0" aria-label="table-of-contents-mode" class="icon">
            <span class="toc-open-icon ">{{> "icons/toc-open"}}</span>
            <span class="toc-close-icon">{{> "icons/toc-close"}}</span>
        </button>
        <div class="toc-container">
            <h1 class="toc-title">On this page</h1>
            {{!-- The table of content list will be inserted here --}}
            <div class="toc"></div>
        </div>
    </aside> 
{{/match}}

{{!-- share buttons and secondary nav items inserted here --}}
{{#match aside-type "sidebar"}} 
    <aside class="sidebar {{layout}} display-item-details">
        <nav class="sidebar-nav">   
            <button id="sidebar-show-descriptions-button" class="icon" aria-label="expand sidebar">
            {{> "icons/sidebar-expand" }}
            </button>
            <button id="sidebar-hide-descriptions-button" class="icon" aria-label="collapse sidebar">
                {{> "icons/sidebar-collapse" }}
            </button>
            {{navigation nav-type="sidebar-internal-tag"}}
            {{navigation type="secondary" nav-type="sidebar-secondary-links"}}
            {{navigation nav-type="sidebar-share"}}
        </nav>
    </aside>
{{/match}}