{{!-- markup for the table of contents and social link icons (used by both pages and posts) 
Parameters:
    layout: [ sidebar-layout , footer-layout]
--}}    

<aside class="table-of-contents {{layout}}">
    <button id="toc-toggle" data-progress="0" aria-label="table-of-contents-mode" class="icon">
        <span class="toc-open-icon ">{{> "icons/toc-open"}}</span>
        <span class="toc-close-icon">{{> "icons/toc-close"}}</span>
    </button>
    <div class="toc-container">
        <div class="toc-header">
            <span class="toc-title">Table of contents</span>
        </div>
        {{!-- The table of content list will be inserted here --}}
        <div class="toc"></div>
    </div>
</aside> 

{{!-- share buttons inserted here --}}
<aside class="social-links {{layout}}">
    <div class="social-links-container" >
        <h1 class="social-links-title">Share</h1>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
        class="icon" aria-label="share on facebook" target="_blank" rel="noopener" >
            {{> "icons/facebook"}}
        </a>
        <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}"
            class="icon" aria-label="share on twitter" target="_blank" rel="noopener">
            {{> "icons/twitter"}}
        </a>
        <a href="whatsapp://send?text={{url absolute=" true"}}" 
            class="icon" aria-label="share on whatsapp" target="_blank" rel="noopener">
            {{> "icons/whatsapp"}}
        </a>
        <a href="{{@site.url}}/rss"
            class="icon" aria-label="rss feed" target="_blank" rel="noopener">
            {{> "icons/rss"}}
        </a>
        <button id="copy-link" class="icon" aria-label="copy link">
            {{> "icons/link"}}
        </button>
    </div>
</aside>
