{{!-- list of authors and their profile images - used on article-cards etc --}}
<ul class="author-profile-images">
    {{#foreach authors}}
        <li class="author-profile-image">
            {{#if profile_image}}
                <a href="{{url}}">
                    <img src="{{img_url profile_image size="xs"}}" width="200" height="200" alt="{{name}}">
                </a>
            {{else}}
                <a href="{{url}}">
                    {{> "icons/avatar"}}
                </a>
            {{/if}}
        </li>
    {{/foreach}}
</ul>
<ul class="author-names">
    {{#foreach authors}}
        <li class="author-name">
            {{#if @first}}
                <a href="{{url}}">{{name}}</a>
            {{else}}
                <span>,</span>
                <a href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
    {{/foreach}}
</ul>
