 <aside class="hero-header">
    {{#is "home"}}
        <h1 class="hero-title">{{@site.title}}</h1>
        {{#if @site.description}}
            <p class="hero-description">{{@site.description}}</p>
        {{/if}}
        {{#if @site.cover_image}}
            <img class="hero-image" src="{{@site.cover_image}}"/>
        {{/if}}
    {{/is}}

    {{#is "tag"}}
        <h1 class="hero-title ">{{name}}</h1>
        {{#if description}}
            <p class="hero-description">{{description}}</p>
        {{/if}}
    {{/is}}

    {{#is "page"}}
        <h1 class="hero-title">{{title}}</h1>
        {{#if feature_image }}
            <img class="hero-image" src="{{feature_image}}"/>
        {{/if}}
    {{/is}}

    {{#is "post"}}
        <h1 class="hero-title">{{title}}</h1>
            <time class="hero-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date published_at}}
            </time>
        {{#if tags}}
            <p class="hero-tags">
                Tags:
                {{ tags seperator=" |" }}
            </p>
        {{/if}}
        {{#if custom_excerpt}}<p class="hero-custom-excerpt">{{custom_excerpt}}</p>{{/if}}
        {{#if @custom.show_authors}}
            <ol class="hero-author-list">
                {{#foreach authors}}
                    <li class="author-profile-image">
                        {{#if profile_image}}
                            <a href="{{url}}">
                                <img src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                            </a>
                        {{else}}
                            <a href="{{url}}">
                                {{> "icons/avatar"}}
                            </a>
                        {{/if}}
                    </li>
                {{/foreach}}
                {{#foreach authors}}
                    <li class="author-name">
                        {{#if @first}}
                            <a href="{{url}}">{{name}}</a>
                        {{else}}
                            <span>,</span> 
                            <a href="{{url}}">{{name}}</a>
                        {{/if}}
                    </li>
                {{/foreach}}
            </ol>
        {{/if}}
        {{#if feature_image }}
            <img class="hero-image" src="{{feature_image}}"/>
        {{/if}}
    {{/is}}

    {{#is "author"}}
        <div class="author-title">
            {{#if profile_image}}
                <div class="author-profile-image" >
                    <img src="{{img_url profile_image size="s"}}" alt="{{name}}">
                </div>
            {{/if}}
            <h1 class="author-name">
                {{name}}
            </h1>
        </div>
        {{#if bio}}
            <p class="author-bio">{{bio}}</p>
        {{/if}}
        <div class="author-links" >
            {{#if location}}
            <div class="author-location" >
                <div class="icon location"> {{> "icons/location"}} </div>
                <div class="author-location" >{{location}} </div>
            </div>
            {{/if}}
            {{#if website}}
            <div class="author-website" >
                <div class="icon website"> {{> "icons/website"}} </div>
                <a class="author-website-url" href="{{website}}" target="_blank" rel="noopener">{{website}} </a>
            </div>
            {{/if}}
            {{#if facebook}}
            <div class="author-facebook">
                <div class="icon facebook"> {{> "icons/facebook"}} </div>
                <a class="author-facebook-url" href="{{facebook_url}}" target="_blank" rel="noopener">{{facebook}} </a>
            </div>
            {{/if}}
            {{#if twitter}}
            <div class="author-twitter">
                <div class="icon twitter"> {{> "icons/twitter"}} </div>
                <a class="author-twitter-url" href="{{twitter_url}}" target="_blank" rel="noopener">{{twitter}} </a>
            </div>
            {{/if}}
        </div>
    {{/is}}
</aside>