 <aside class="hero-header">
    {{#is "home"}}
        <h1 class="hero-title">{{@site.title}}</h1>
        {{#if @site.description}}
            <p class="hero-description">{{@site.description}}</p>
        {{/if}}
        {{#if @site.cover_image}}
            <img alt="hero image" class="hero-image" src="{{@site.cover_image}}"/>
        {{/if}}
    {{/is}}

    {{#is "tag"}}
        <h1 class="hero-title">{{name}}</h1>
        {{#if description}}
            <p class="hero-description">{{description}}</p>
        {{/if}}
        {{#if feature_image }}
            <img alt="hero image" class="hero-image" src='{{img_url feature_image size="m"}}'/>
        {{/if}}
    {{/is}}

    {{#is "page"}}
        <h1 class="hero-title">{{title}}</h1>
        {{#if feature_image }}
            <img alt="hero image" class="hero-image" src='{{img_url feature_image size="m"}}'/>
        {{/if}}
        {{#if custom_excerpt}}<p class="hero-custom-excerpt">{{custom_excerpt}}</p>{{/if}}
    {{/is}}

    {{#is "post"}}
        {{#if tags}}
            <p class="hero-tags">
                <span>{{t "Tags"}}:</span>
                {{ tags seperator=" |" }}
            </p>
        {{/if}}
        <h1 class="hero-title">{{title}}</h1>
            <time class="hero-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date published_at}}
            </time>
        {{#if custom_excerpt}}<p class="hero-custom-excerpt">{{custom_excerpt}}</p>{{/if}}
        <ul class="hero-author-list">
            {{#foreach authors}}
                <li class="article-card-author-profile-image">
                    {{#if profile_image}}
                        <a href="{{url}}">
                            <img src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                        </a>
                    {{else}}
                        <a href="{{url}}">
                            {{> "icons/avatar"}}
                        </a>
                    {{/if}}
                </li>
            {{/foreach}}
            {{#foreach authors}}
                <li class="article-card-author-name">
                    {{#if @first}}
                        <a href="{{url}}">{{name}}</a>
                    {{else}}
                        <span>,</span> 
                        <a href="{{url}}">{{name}}</a>
                    {{/if}}
                </li>
            {{/foreach}}
        </ul>
        {{#if feature_image }}
            <img alt="hero image" class="hero-image" src='{{img_url feature_image size="m"}}'/>
        {{/if}}
    {{/is}}

    {{#is "author"}}
        {{#if cover_image}}
            <img class="hero-image" src="{{img_url cover_image size="m"}}" alt="{{name}}">
        {{/if}}
        {{> "author-card" }}
       
    {{/is}}
</aside>