{{!-- 
  parameters: nav-type [ primary, sidebar-secondary-links, sidebar-internal-tags ]

  - primary nav: outputs nav items defined in the Ghost admin panel (Settings > Design > Navigation) 
  - sidebar-secondary-links: Settings > Desing > Navigation > Secondary
  - sidebar-internal-tags:  Tags > Internal (note if the user supplies an svg as a featured image this will be used as an icon in the menu)

 --}}
{{#match nav-type "primary"}}
  {{!-- the html defined in this here is used by dropdown-nav.js --}}
  <div class="menu-links-container">   
    <div class="menu-links-header">
      <p class="menu-links-title">Contents</p>
    </div>
    <ul class="menu-links">
      {{#foreach navigation}}
          <li class="menu-link-item">
            <a href="{{url absolute="true"}}">{{label}}</a>
          </li>
      {{/foreach}}
    </ul>
  </div>
{{/match}}

{{#match nav-type "sidebar-internal-tag"}}
  {{#get "tags" filter="visibility:internal+name:~^'##'" as |internal-tags|}}
  {{#if internal-tags}}
      {{!-- the "hidden" class hides the links while the javascript to update the svg icons runs --}}
      <ul class="sidebar-links internal-tags hidden">
      {{#foreach internal-tags visibility="internal"}}
        <li class="sidebar-link-item">
          {{!-- 
            load the svg inline so that we can update the fill attribute values according 
            to the dark/light mode selected (see dark-mode-toggle.js)

            some useful items in the post/page context below:
              - excerpt - excerpt from the current post/page
              - featured_image - post/page feature image
              - primary_tag - post/page primary tag (use include="tags" in the #get to access the tags properties)

              from the internal tag context:
              - accent_color  - the color assigned to the internal tag (from the tags context)
              - name - internal tag name
              - description - internal tag description
              - feature_image - internal tag feature image
              - slug - internal tag slug

              note that you can't use a relative reference in a filter expression, e.g filter="tags:{{../../slug}}".
              The workaround is to pass the relative attribute reference as a parameter that can is then used in a partial hbs script

              note that logic for a primary tag is: a primary tag is the first tag associated with a post, *if that tag is public*.
              therefore if the first (or only) tag on your post/page is an internal tag this field will be null
            --}}
          
          {{!-- 
          .. for now this we print out all the linked pages and navigation.js picks the first one (ie most recently published) 
          for each tag. If there are no linked pages then the most recent linked post is kept
          --}}
          {{#get "pages" filter="tags:{{slug}}" as |pages-with-internal-tag|}}
            {{#foreach pages-with-internal-tag }}
            {{log this}}
                <a href="{{this.url}}"  aria-label="{{this.title}}" >
                  {{#if ../../feature_image}}
                    <object class="sidebar-link-icon {{slug}} icon" aria-label="{{slug}}" data="{{../../feature_image}}" type="image/svg+xml"></object>
                  {{else}}
                    <div class="sidebar-link-icon icon">
                      {{> "icons/item"}}
                    </div>
                  {{/if}}
                  <p class="sidebar-link-description">{{../../name}}</p>
                </a>
            {{/foreach}}
          {{/get}}
          {{#get "posts" filter="tags:{{slug}}" as |posts-with-internal-tag|}}
            {{#foreach posts-with-internal-tag }}
              <a href="{{this.url}}"  aria-label="{{this.title}}" >
                {{#if ../../feature_image}}
                  <object class="sidebar-link-icon {{slug}} icon" aria-label="{{slug}}" data="{{../../feature_image}}" type="image/svg+xml"></object>
                {{else}}
                  <div class="sidebar-link-icon icon">
                    {{> "icons/item"}}
                  </div>
                {{/if}}
                <p class="sidebar-link-description">{{../../name}}</p>
              </a>
            {{/foreach}}
          {{/get}}
        </li>
      {{/foreach}}
      </ul>
     <hr>
    {{/if}}
  {{/get}}
{{/match}}

{{#match nav-type "sidebar-secondary-links"}}
    {{#if isSecondary}}
      {{#if @site.secondary_navigation}}
        <div class="sidebar-links-container secondary-links-container">
          <div class="sidebar-header secondary-links-header">
            <button class="secondary-links-button icon" aria-label="secondary-links">
                {{> "icons/categories"}} 
                <span class="secondary-links-button-description sidebar-header-description">Sections</span>
            </button>
          </div>
          <ul class="secondary-links sidebar-links">
            {{#foreach navigation}}
                <li class="sidebar-link-item" >
                  <a class="sidebar-link" href="{{url absolute='true'}}">
                    <span class="sidebar-link-description">{{label}}</span>
                  </a>
                </li>
            {{/foreach}}
          </ul>
        </div>
        <hr>
      {{/if}}
    {{/if}}
{{/match}}

{{#match nav-type "sidebar-share"}}
    <div class="sidebar-links-container share-links-container">
      <div class="sidebar-header share-links-header">
        <button class="share-links-button icon" aria-label="share">
            {{> "icons/share"}} 
            <span class="share-links-button-description sidebar-header-description">Share</span>
        </button>
      </div>
      <ul class="share-links sidebar-links">
          <li class="sidebar-link-item">
            {{#is "home"}}
              <a href="https://bsky.app/intent/compose?text={{encode @site.title}}%0A%0A{{encode @site.url absolute='true'}}"
              class="sidebar-link-icon icon share-link" aria-label="share on bluesky" target="_blank" rel="noopener" >
                  {{> "icons/bluesky"}}
                  <p class="sidebar-link-description">Bluesky</p>
              </a>
            {{else}}
              <a href="https://bsky.app/intent/compose?text={{encode title}}%0A%0A{{encode url absolute='true'}}"
              class="sidebar-link-icon icon share-link" aria-label="share on bluesky" target="_blank" rel="noopener" >
                  {{> "icons/bluesky"}}
                  <p class="sidebar-link-description">Bluesky</p>
              </a>
            {{/is}}
          </li>
          <li class="sidebar-link-item">
            {{#is "home"}}
              <a href="https://www.facebook.com/sharer/sharer.php?u={{encode @site.url absolute='true'}}"
              class="sidebar-link-icon icon share-link" aria-label="share on facebook" target="_blank" rel="noopener" >
                  {{> "icons/facebook"}}
                  <p class="sidebar-link-description">Facebook</p>
              </a>
            {{else}}
              <a href="https://www.facebook.com/sharer/sharer.php?u={{encode url absolute='true'}}"
              class="sidebar-link-icon icon share-link" aria-label="share on facebook" target="_blank" rel="noopener" >
                  {{> "icons/facebook"}}
                  <p class="sidebar-link-description">Facebook</p>
              </a>
            {{/is}}
          </li>
          <li class="sidebar-link-item">
            {{#is "home"}}
              <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{encode @site.url absolute='true'}}"
                  class="sidebar-link-icon icon share-link" aria-label="share on twitter" target="_blank" rel="noopener">
                  {{> "icons/twitter"}}
                  <p class="sidebar-link-description">Twitter</p>
              </a>
            {{else}}
              <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{encode url absolute='true'}}"
                  class="sidebar-link-icon icon share-link" aria-label="share on twitter" target="_blank" rel="noopener">
                  {{> "icons/twitter"}}
                  <p class="sidebar-link-description">Twitter</p>
              </a>
            {{/is}}
          </li>
          <li class="sidebar-link-item">
            {{#is "home"}}
              <a href="whatsapp://send?text={{encode @site.url absolute=" true"}}"
                  class="sidebar-link-icon icon share-link" aria-label="share on whatsapp" target="_blank" rel="noopener">
                  {{> "icons/whatsapp"}}
                  <p class="sidebar-link-description">WhatsApp</p>
              </a>
            {{else}}
              <a href="whatsapp://send?text={{encode url absolute=" true"}}"
                  class="sidebar-link-icon icon share-link" aria-label="share on whatsapp" target="_blank" rel="noopener">
                  {{> "icons/whatsapp"}}
                  <p class="sidebar-link-description">WhatsApp</p>
              </a>
            {{/is}}
          </li>
          <li class="sidebar-link-item">
            <a href="{{@site.url}}/rss"
                class="sidebar-link-icon icon share-link" aria-label="rss feed" target="_blank" rel="noopener">
                {{> "icons/rss"}}
                <p class="sidebar-link-description">RSS</p>
            </a>
          </li>
          <li class="sidebar-link-item">
            <button class="copy-link sidebar-link-icon icon share-link" aria-label="copy link">
                {{> "icons/link"}}
                <span class="sidebar-link-description">Copy link</span>
            </button>
          </li>
      </ul>
    </div>
{{/match}}
