{{!--
    Parameters :
    mini [ true, false]
--}}
<aside class="newsletter-banner {{#if mini}}mini{{/if}}">
    {{^if mini}}
        <div class="newsletter-banner-background">
            {{> "icons/circles-oval"}}
        </div>
        <h2 class="newsletter-banner-heading">
            <div class="newsletter-banner-icon icon">
                {{> "icons/mail"}}
            </div>
            {{#if @custom.newsletter_banner_heading}}
                {{@custom.newsletter_banner_heading}}
            {{else}}
                {{@site.title}}
            {{/if}}
        </h2>
        <p class="newsletter-banner-description">
            {{#if @custom.newsletter_banner_description}}
                {{@custom.newsletter_banner_description}}
            {{else}}
                {{@site.description}}
            {{/if}}
        </p>
    {{/if}}
   <form class="newsletter-banner-form" data-members-form>
        {{#if mini}} 
            <input class="newsletter-banner-form-input" id="{{email_field_id}}" type="email" placeholder="Enter your email address to join" required data-members-email>
        {{else}}
            <input class="newsletter-banner-form-input" id="{{email_field_id}}" type="email" placeholder="Enter your email address" required data-members-email>
        {{/if}}
        <button class="newsletter-banner-button" type="submit" aria-label="Subscribe">
            <span class="submit-icon icon" >
                {{> "icons/submit"}}
            </span>
            <span class="loading-icon icon" >
                {{> "icons/loading"}}
            </span>
            <span class="success-icon icon"> 
                {{> "icons/success"}}
            </span>
            <span class="error-icon icon"> 
                {{> "icons/error"}}
            </span>
        </button>
        <p class="error-text" data-members-error></p>
    </form>
</aside>
