 <header class="site-header">
    {{#if @site.logo}}
        <a aria-label="go to the home page" class="logo icon" href="{{@site.url}}">
            <img height="20" width="20" src="{{@site.logo}}" alt="{{@site.title}}">
        </a>
    {{/if}}

    {{!-- outputs  nav items defined in the Ghost admin panel (Settings > Design > Navigation) --}}
    {{navigation}}

    {{#if @site.members_enabled}}
        {{#unless @member}}
            {{#unless @site.members_invite_only}}
                <a href="#/portal/signin" class="signin">Sign in</a>
                {{!-- todo refine this so only shows if one of the subscribe options is selected --}}
                {{#match @custom.enrol_members_banner_type "!=" "None"}} 
                    <a class="signup" aria-label="sign up" href="#/portal/signup">Sign up</a>
                {{/match}}
            {{/unless}}
        {{else}}
            <a class="account-link icon" aria-label="account link" href="#/portal/account"> 
                {{> "icons/account"}}
            </a>
        {{/unless}}
    {{/if}}

    <button id="dark-mode-toggle" aria-label="dark mode" class="icon">
        <span class="dark-mode ">{{> "icons/moon"}}</span>
        <span class="light-mode ">{{> "icons/sun"}}</span>
    </button>
    <button class="search icon" aria-label="Search" data-ghost-search>{{> "icons/search"}}</button>
    {{!-- hamburger nav (shows when nav is open on a small screen)--}}
    <button class="nav-toggle icon" aria-label="Open nav" >{{> "icons/navigation"}}</button>
</header>
