 <header class="site-header">
    {{!-- placeholder for the announcement bar--}}
    <div id="announcement-bar-root"></div>
    <nav class="main-nav">

        {{#if @site.logo}}
            <a aria-label="go to the home page" class="logo" href="{{@site.url}}">
                <img height="20" width="20" src="{{@site.logo}}" alt="{{@site.title}}">
            </a>
        {{/if}}

        {{!-- outputs primary nav items defined in the Ghost admin panel (Settings > Design > Navigation) --}}
        {{navigation nav-type="primary"}}
        <div class="main-nav-button-container">
            {{#if @site.members_enabled}}
                {{#unless @member}}
                    {{#unless @site.members_invite_only}}
                        <a href="#/portal/signin" class="signin">{{t "Sign in"}}</a>
                        {{!-- only shows if one of the subscribe options is selected --}}
                        {{#match @custom.enrol_members_banner_type "!=" "None" }}
                        {{#match @custom.enrol_members_banner_type "!=" "Newsletter" }}
                            <a class="signup" aria-label="sign up" href="#/portal/signup">{{t "Sign up"}}</a>
                        {{/match}}
                        {{/match}}
                    {{/unless}}
                {{else}}
                    <a class="account-link icon" aria-label="account link" href="#/portal/account"> 
                        {{> "icons/account"}}
                    </a>
                {{/unless}}
            {{/if}}

            <button class="dark-mode icon" aria-label="dark mode button">{{> "icons/moon"}}</button>
            <button class="light-mode icon" aria-label="light mode button">{{> "icons/sun"}}</button>
            <button class="search icon" aria-label="Search" data-ghost-search>{{> "icons/search"}}</button>
            {{!-- hamburger nav (shows when nav is open on a small screen)--}}
            <button class="menu-links-toggle icon" aria-label="Open nav" >{{> "icons/navigation"}}</button>
        </div>
    </nav>
</header>
