 <header class="site-header">
    {{#if @site.logo}}
        <a aria-label="go to the home page" class="logo icon-button" href="{{@site.url}}">
            <img src="{{@site.logo}}" alt="{{@site.title}}">
        </a>
    {{/if}}

    {{!-- outputs  nav items defined in the Ghost admin panel (Settings > Design > Navigation) --}}
    {{navigation}}

    {{#if @site.members_enabled}}
        {{#unless @member}}
            {{#unless @site.members_invite_only}}
                <a href="#/portal/signin" class="signin">Sign in</a>
                {{#if @custom.show_header_subscription_button}}
                    <a class="signup" aria-label="sign up" href="#/portal/signup">Sign up</a>
                {{/if}}
            {{/unless}}
        {{else}}
            <a class="gh-button" href="#/portal/account" class="account">Account</a>
        {{/unless}}
    {{/if}}

    <button id="dark-mode-toggle" aria-label="dark mode" class="icon-button">
        <span class="dark-mode ">{{> "icons/moon"}}</span>
        <span class="light-mode ">{{> "icons/sun"}}</span>
    </button>
    <button class="search icon-button" aria-label="Search" data-ghost-search>{{> "icons/search"}}</button>
    {{!-- hamburger nav (shows when nav is open on a small screen)--}}
    <button class="nav-toggle icon-button" aria-label="Open nav" >{{> "icons/navigation"}}</button>
</header>
