{{!--
    Parameters :
    mini [ true, false]
--}}
<aside class="subscription-banner {{#if mini}}mini{{/if}}">
    {{^if mini}}
        <h2 class="subscription-banner-heading">
            {{#if @custom.page_subscription_banner_heading}}
                {{@custom.page_subscription_banner_heading}}
            {{else}}
                {{@site.title}}
            {{/if}}
        </h2>
        <p class="subscription-banner-description">
            {{#if @custom.page_subscription_banner_description}}
                {{@custom.page_subscription_banner_description}}
            {{else}}
                {{@site.description}}
            {{/if}}
        </p>
    {{/if}}
    <form class="subscription-banner-form" data-members-form>
        <input class="form-input" id="{{email_field_id}}" type="email" placeholder="your.email@example.com" required data-members-email>
        <button class="button icon" type="submit" aria-label="Subscribe">
            <span class="text">Subscribe</span> 
            <span class="loading-icon" >
                {{> "icons/loading"}}
            </span>
            <span class="success-icon"> 
                {{> "icons/success"}}
            </span>
            <span class="error-icon"> 
                {{> "icons/error"}}
            </span>
        </button>
        <p class="error-text" data-members-error></p>
    </form>
</aside>
