<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    {{!-- set the data-theme attribute before rendering the page to avoid a screen flash --}}
    <script>document.documentElement.setAttribute('data-theme',localStorage.getItem("theme"))||""</script>
    {{!-- Theme and vendor css assets - the {asset} helper will handle caching and cache-busting automatically --}}
    
    <link rel="stylesheet" type="text/css" href="{{asset "built/all.css"}}">

     {{!-- google analytics --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTQ8QD028C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WTQ8QD028C');
    </script>

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>

<body class='site {{body_class}}'>
    <header class="site-header">
        <nav>
            <div class="logo">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>

            {{!-- outputs  menu items defined in the Ghost admin panel (Settings > Design > Navigation) --}}
            {{navigation}}

            <button id="dark-mode-toggle" aria-label="dark-mode" class="icon-button">
                <span class="show-dark-mode-icon ">{{> "icons/moon"}}</span>
                <span class="show-light-mode-icon ">{{> "icons/sun"}}</span>
            </button>
            <button class="search icon-button" aria-label="Search" data-ghost-search>{{> "icons/search"}}</button>
            {{!-- hamburger menu (shows when menu is open on a small screen)--}}
            <button class="open-menu icon-button" aria-label="Open menu" >{{> "icons/menu"}}</button>
            <button class="close-menu icon-button" aria-label="Close menu" >{{> "icons/close-menu"}}</button>

        </nav>
    </header>

    {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

        <footer class="site-footer">
        <div class="copyright">
            {{@site.title}} © {{date format="YYYY"}}
        </div>
        <div class="privacy-policy">
            {{#link href="/privacy-policy/"}}privacy policy{{/link}}
        </div>
    </footer>

    {{!-- load the third party libraries and then the theme javascript
        the theme javascript code is added as a module type to allow the import of libaries created as ES modules
        e.g Photoswipe5 --}}
    <script src='{{asset "built/vendor.min.js"}}'></script>
    <script type='module' src='{{asset "built/theme.min.js"}}'></script>

    {{ghost_foot}}

</body>
</html>
