<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    {{!-- set the data-color-scheme attribute before rendering the page to avoid a screen flash --}}
    <script>document.documentElement.setAttribute('data-color-scheme',localStorage.getItem("data-color-scheme"))||""</script>
    {{!-- Theme and vendor css assets - the {asset} helper will handle caching and cache-busting automatically --}}
    
    <link rel="stylesheet" type="text/css" href="{{asset "built/fonts.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "built/lib.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "built/theme.min.css"}}">

     {{#if @custom.google_analytics_id}}
        {{!-- google analytics --}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{@custom.google_analytics_id}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{@custom.google_analytics_id}}');
        </script>
     {{/if}}

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>

<body class='site {{body_class~}}
    {{!-- set classes to reflect custom options selected by the site owner --}}
    {{~#match @custom.menu_style "Expanded"}} expanded-nav{{else}} minified-nav{{/match~}}
    {{~#match @custom.hero_style "plain"}} hero-style-plain{{/match~}}
    {{~#match @custom.hero_style "color"}} hero-style-color-image{{/match~}}
    {{~#match @custom.hero_style "grayscale"}} hero-style-grayscale-image{{/match~}}
    {{~#if @custom.hide_comments_subscribe_cta}} hide-comments-subscribe-cta{{/if~}}
    {{~#if @custom.fixed_navigation_bar }} fixed-navigation-bar{{/if~}}
    {{#is "home"}}
        {{~#match @custom.home_page_style "List"}} home-page-list{{/match~}}
        {{~#match @custom.home_page_style "Focus (right)"}} home-page-focus-right{{/match~}}
        {{~#match @custom.home_page_style "Focus (left)"}} home-page-focus-left{{/match~}}
        {{~#match @custom.home_page_sidebar "Top"}} sidebar-top{{/match~}}
        {{~#match @custom.home_page_sidebar "Bottom"}} sidebar-bottom{{/match~}}
        {{~#match @custom.home_page_sidebar "Left"}} sidebar-left{{/match~}}
        {{~#match @custom.home_page_sidebar "Right"}} sidebar-right{{/match~}}
        {{~#match @custom.home_page_sidebar "None"}} home-page-sidebar-none{{/match~}}
        {{~#if @custom.show_featured_posts}} show-featured-articles{{/if~}}
    {{/is~}}
    {{#is "post,page"}}
        {{~#match @custom.post_table_of_contents "Full"}} post-toc-full{{/match~}}
        {{~#match @custom.post_table_of_contents "Minified"}} post-toc-minified{{/match~}}
        {{~#match @custom.post_table_of_contents "None"}} post-toc-none{{/match~}}
        {{~#match @custom.post_sidebar "Top"}} sidebar-top{{/match~}}
        {{~#match @custom.post_sidebar "Bottom"}} sidebar-bottom{{/match~}}
        {{~#match @custom.post_sidebar "Left"}} sidebar-left{{/match~}}
        {{~#match @custom.post_sidebar "Right"}} sidebar-right{{/match~}}
    {{/is}}
    '>

    {{> "site-header"}}

    {{!-- hbs files with {{<default}} markup, e.g index.hbs, post.hbs, page.hbs etc, are inserted here --}}
    {{{body}}}

    {{> "site-footer"}}
   
    {{!-- load the third party libraries and then the theme javascript --}}
    <script src='{{asset "built/lib.min.js"}}'></script>
    <script  type='module' src='{{asset "built/theme.min.js"}}'></script>

    {{ghost_foot}}

</body>
</html>
