<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-scheme="dark">

<head>
    {{!-- set the color scheme option from local storage (local storage is used if the user has used the dark mode toggle previously) --}}
    <script> localStorage.getItem("data-color-scheme") && document.documentElement.setAttribute('data-color-scheme', localStorage.getItem("data-color-scheme")); </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    {{!-- Theme and vendor css assets - the {asset} helper will handle caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/vendor.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.css"}}">

     {{#if @custom.google_analytics_id}}
        {{!-- google analytics --}}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{@custom.google_analytics_id}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{@custom.google_analytics_id}}');
        </script>
     {{/if}}

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>

<body class='site {{body_class~}}
    {{!-- set classes to reflect custom options selected by the site owner --}}
    {{~#match @custom.menu_style "Expanded"}} expanded-nav{{else}} minified-nav{{/match~}}
    {{~#match @custom.hero_style "plain"}} hero-style-plain{{/match~}}
    {{~#match @custom.hero_style "color"}} hero-style-color-image{{/match~}}
    {{~#match @custom.hero_style "grayscale"}} hero-style-grayscale-image{{/match~}}
    {{~#if @custom.hide_comments_subscribe_cta}} hide-comments-subscribe-cta{{/if~}}
    {{~#if @custom.fixed_navigation_bar }} fixed-navigation-bar{{/if~}}
    {{~#match @custom.sidebar "Top"}} sidebar-top{{/match~}}
    {{~#match @custom.sidebar "Bottom"}} sidebar-bottom{{/match~}}
    {{~#match @custom.sidebar "Left"}} sidebar-left{{/match~}}
    {{~#match @custom.sidebar "Right"}} sidebar-right{{/match~}}
    {{~#match @custom.sidebar "None"}} sidebar-none{{/match~}}
    {{~#match @custom.show_authors "Names"}} show-author-names{{/match~}}
    {{~#match @custom.show_authors "Profile images"}} show-author-images{{/match~}}
    {{~#match @custom.show_authors "Names and profile images"}} show-author-names-and-images{{/match~}}
    {{~#match @custom.show_authors "None"}} show-author-none{{/match~}}
    {{~#match @custom.footer_style "All"}} footer-style-all{{/match~}}
    {{~#match @custom.footer_style "Copyright & privacy policy"}} footer-style-copyright-privacy{{/match~}}
    {{~#match @custom.footer_style "Copyright"}} footer-style-copyright{{/match~}}
    {{~#match @custom.footer_style "Privacy policy"}} footer-style-privacy{{/match~}}
    {{~#match @custom.footer_style "Ghost and theme links"}} footer-style-ghost-theme{{/match~}}
    {{~#match @custom.footer_style "Ghost"}} footer-style-ghost{{/match~}}
    {{~#match @custom.footer_style "None"}} footer-style-none{{/match~}}
    {{#is "home"}}
        {{~#match @custom.home_page_style "List"}} home-page-list{{/match~}}
        {{~#match @custom.home_page_style "Focus (right)"}} home-page-focus-right{{/match~}}
        {{~#match @custom.home_page_style "Focus (left)"}} home-page-focus-left{{/match~}}
        {{~#if @custom.highlight_featured_articles}} highlight-featured-articles{{/if~}}
    {{/is~}}
    {{#is "post,page,author,tag"}}
        {{~#match @custom.post_table_of_contents "Full"}} post-toc-full{{/match~}}
        {{~#match @custom.post_table_of_contents "Minified"}} post-toc-minified{{/match~}}
        {{~#match @custom.post_table_of_contents "None"}} post-toc-none{{/match~}}
    {{/is}}
    '>
    {{> "site-header"}}

    {{!-- hbs files with {{<default}} markup, e.g index.hbs, post.hbs, page.hbs etc, are inserted here --}}
    {{{body}}}

    {{> "site-footer"}}
   
    <script  type='module' src='{{asset "built/js/vendor.js"}}'></script>
    <script  type='module' src='{{asset "built/js/main.js"}}'></script>

    {{ghost_foot}}

</body>
</html>
