<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>

    {{!-- set the data-theme attribute before rendering the page to avoid a screen flash --}}
    <script>document.documentElement.setAttribute('data-theme',localStorage.getItem("theme"))||""</script>
    {{!-- Theme and vendor css assets - the {asset} helper will handle caching and cache-busting automatically --}}
    
    <link rel="preload" as="style" type="text/css" href="{{asset "built/fonts.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "built/lib.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "built/theme.min.css"}}">

     {{!-- google analytics --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WTQ8QD028C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WTQ8QD028C');
    </script>

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>

<body class='site {{body_class}}'>

    {{> "site-header"}}

    {{!-- hbs files with {{<default}} markup, e.g index.hbs, post.hbs, page.hbs etc, are inserted here --}}
    {{{body}}}

    {{> "site-footer"}}
   
    {{!-- load the third party libraries and then the theme javascript --}}
    <script src='{{asset "built/lib.min.js"}}'></script>
    <script type='module' src='{{asset "built/theme.min.js"}}'></script>

    {{ghost_foot}}

</body>
</html>
