{{!< default}}

{{> "hero-header"}}

{{> "asides" aside-type="sidebar"}}

<main class="main-article">
    {{#foreach posts limit=1}}
        {{> "article-card" image_size="m" }}
    {{/foreach}}
</main>

<aside class="featured-articles article-collection">
    <h1 class="featured-articles-title article-collection-title" >{{t "Featured"}}</h1>
    {{#get "posts" filter="featured:true" include="authors,tags,tiers" limit=6 as |featured|}}
        {{#foreach featured}}
            {{> "article-card" image_size="xs" }}
        {{/foreach}}
    {{/get}}
</aside>


{{#match posts.length ">" 1}}
    <aside class="latest-articles article-collection">
        <h1 class="latest-articles-title article-collection-title" >{{t "Latest Posts"}}</h1>
        {{#foreach posts from=2 limit=6}}
            {{> "article-card" image_size="s" }}
        {{/foreach}}
    </aside>
{{/match}}

{{#match posts.length ">" 7}}
    <aside class="recent-articles article-collection">
        <h1 class="recent-articles-title article-collection-title" >{{t "Recent articles"}}</h1>
        {{#foreach posts from=8 }}
            {{> "article-card" image_size="s" }}
        {{/foreach}}
    </aside>
{{/match}}

{{pagination}}

{{#if @site.members_enabled}}
    {{#unless @member}}

        {{#match @custom.enrol_members_banner_type "Both - home page only" }}
            {{> "enrol" banner-type="both" }}
        {{else match @custom.enrol_members_banner_type "Both - home page & posts" }}
            {{> "enrol" banner-type="both" }}
        {{else match @custom.enrol_members_banner_type "Newsletter - home page only" }}
            {{> "enrol" banner-type="newsletter" }}
        {{else match @custom.enrol_members_banner_type "Newsletter - home page & posts" }}
            {{> "enrol" banner-type="newsletter" }}
        {{else match @custom.enrol_members_banner_type "Subscribe - home page only" }}
            {{> "enrol" banner-type="subscribe" }}
        {{else match @custom.enrol_members_banner_type "Subscribe - home page & posts" }}
            {{> "enrol" banner-type="subscribe" }}
        {{/match}}

    {{/unless}}
{{/if}}
