{{!< default}}

{{#post}}
    {{!-- toc and social icons --}}
    {{#match @custom.post_layout_type "Sidebars / no feature image"}} 
        {{> "asides" layout="sidebar-layout"}}
    {{else match @custom.post_layout_type "Sidebars / feature image"}}
        {{> "asides" layout="sidebar-layout"}}
    {{else}}
        {{> "asides" layout="footer-layout"}}
    {{/match}}

    {{> "hero-header"}}

    {{!-- outputting post or page content --}}
    <article class="article-content">
        {{#if custom_excerpt}}<p class="article-excerpt">{{custom_excerpt}}</p>{{/if}}
        {{#if feature_image }}
            {{#match @custom.post_layout_type "Sidebars / feature image"}} 
                {{> "feature_image" }}
            {{else match @custom.post_layout_type "Footer / feature image"}}
                {{> "feature_image" }}
            {{else match @custom.post_layout_type "Footer / wide feature image"}}
                {{> "feature_image" image_format="wide" }}
            {{/match}}
        {{/if}}
        {{content}}
    </article>

    {{#if comments}}
        <aside class="comments">
            {{comments mode="auto"}}
        </aside>
    {{/if}}
{{/post}}

{{#if @custom.show_related_posts}}
    {{#get "posts" limit=@config.posts_per_page filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <aside class="related-articles">
            <h3 class="related-articles-title">READ MORE</h3>
            {{#foreach posts}}
                {{> "article-card"}}
            {{/foreach}}
        </aside>
    {{/if}}
    {{/get}}
{{/if}}
