{{!< default}}

{{#post}}

{{> "hero-header"}}

{{^match @custom.post_table_of_contents "None"}}
    {{> "asides" aside-type="toc"}}
{{/match}}

{{^match @custom.sidebar "None"}}
    {{> "asides" aside-type="sidebar"}}
{{/match}}

{{!-- outputting post content --}}
<main class="article">
    <div class="article-container" >
        {{content}}
    </div>
</main>

{{#if @custom.show_one_time_payment_request}}
    <aside class="one-time-payment">
        <div class="one-time-payment-icon" aria-label="one-time-donation">{{> "icons/donation"}}</div>
        <p class="one-time-payment-description">{{@custom.one_time_payment_description}}</p>
        <a href="#/portal/support" target="_blank" class="button one-time-payment-button">{{@custom.one_time_payment_button_text}}</a>
    </aside>
{{/if}}

{{#if comments}}
    <aside class="comments">
        {{comments mode="auto"}}
    </aside>
{{/if}}

{{#if @site.members_enabled}}
    {{#unless @member}}
        {{#match @custom.enrol_members_banner_location "!=" "Posts"}}
            {{#match @custom.enrol_members_banner_type "Both" }}
                {{> "enrol" banner-type="both" }}
            {{else match @custom.enrol_members_banner_type "Newsletter" }}
                {{> "enrol" banner-type="newsletter" }}
            {{else match @custom.enrol_members_banner_type "Subscribe" }}
                {{> "enrol" banner-type="subscribe" }}
            {{/match}}
        {{/match}}
    {{/unless}}
{{/if}}

{{#if @custom.show_related_posts}}
    {{#get "posts" limit="6" include="tags" filter="id:-{{id}}+tag:[{{tags.[*].slug}}]" as |related|}}
    {{#if related}}

        <aside class="related-articles article-card-collection">
            <h3 class="related-articles-title article-card-collection-title">{{t "Read more"}}</h3>
            <div class="article-card-container">
                {{#foreach related}}
                    {{> "article-card"}}
                {{/foreach}}
            </div>
        </aside>
    {{/if}}
    {{/get}}
{{/if}}
    
{{/post}}
